.start {
  margin-top: 5%;
  text-align: center;
  h2 {
    font-size: 40px;
  }
  h3 {
    margin-top: 1%;
    font-size: 35px;
  }

  .btn {
    margin-top: 2%;
    font-size: 20px;
    padding: 1% 2%;
    background: transparent;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1em;
    transition: all 0.2s linear;

    &:hover {
      cursor: pointer;
      border-color: rgba(1, 203, 254, 1);
      color: rgba(1, 203, 254, 1);
    }
  }
}
